<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Jarrett Welding and Machine</title>
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'css/bootstrap-responsive.css' %}">
	<link rel="stylesheet" href="{% static 'css/flat-ui.css' %}">
	<link rel="stylesheet" href="{% static 'css/icon-font.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<header class="header-10">
    <div class="container">        
        <div class="navbar span12">
            <div class="navbar-inner">
                <div class="nav-collapse collapse pull-left">
                    <ul class="nav">
                        <li class="active">
                            <a href="#about">about</a>
                        </li>
                        <li>
                            <a href="#bakery">bakery</a>
                        </li>
                        <li>
                            <a href="#h1-pastries">PASTRIES</a>
                        </li>
                        <li>
                            <a href="#h1-cafe">cafe</a>
                        </li>
                        <li>
                            <a href="#contacts">Contacts</a>
                        </li>
                        </ul>
                </div>
            </div>
        </div>
    </div>
</header>
<section class="header-10-sub v-center bg-midnight-blue">
    <div class="background">
        &nbsp;
    </div>
    <div>
        <div class="container">
            <div class="hero-unit">
                <h1>Good to the last crumb</h1>

                <p>
                    Fresh food, delicious desserts, artisan breads
                    <br/>
                    and cozy atmosphere …all at one place
                </p>
            </div>
        </div>
    </div>
</section>
</body>
</html>
