/* 62px */
/* 52px */
/* 40px */
/* 29px */
/* 28px */
/* 24px */
.inline-block {
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.drop-ie-gradient {
  filter: unquote("progid:DXImageTransform.Microsoft.gradient(enabled = false)");
}
.dropdown-arrow-inverse {
  border-bottom-color: #34495e !important;
  border-top-color: #34495e !important;
}
.bg-white {
  background-color: #ffffff;
}
.bg-black {
  background-color: #000000;
}
.bg-turquoise {
  background-color: #1abc9c;
}
.bg-green-sea {
  background-color: #16a085;
}
.bg-emerland {
  background-color: #2ecc71;
}
.bg-nephritis {
  background-color: #27ae60;
}
.bg-peter-river {
  background-color: #3498db;
}
.bg-belize-hole {
  background-color: #2980b9;
}
.bg-amethyst {
  background-color: #9b59b6;
}
.bg-wisteria {
  background-color: #8e44ad;
}
.bg-wet-asphalt {
  background-color: #34495e;
}
.bg-midnight-blue {
  background-color: #2c3e50;
}
.bg-sun-flower {
  background-color: #f1c40f;
}
.bg-orange {
  background-color: #f39c12;
}
.bg-carrot {
  background-color: #e67e22;
}
.bg-pumpkin {
  background-color: #d35400;
}
.bg-alizarin {
  background-color: #e74c3c;
}
.bg-pomegranate {
  background-color: #c0392b;
}
.bg-clouds {
  background-color: #ecf0f1;
}
.bg-silver {
  background-color: #bdc3c7;
}
.bg-concrete {
  background-color: #95a5a6;
}
.bg-asbestos {
  background-color: #7f8c8d;
}
.bg-base {
  background-color: #34495e;
}
.bg-firm {
  background-color: #1abc9c;
}
.bg-success {
  background-color: #2ecc71;
}
.bg-danger {
  background-color: #e74c3c;
}
.bg-warning {
  background-color: #f1c40f;
}
.bg-info {
  background-color: #3498db;
}
.bordered {
  border-style: solid;
}
.bordered.bg-turquoise {
  border-color: #16a085;
}
.bordered.bg-emerland {
  border-color: #27ae60;
}
.bordered.bg-peter-river {
  border-color: #2980b9;
}
.bordered.bg-amethyst {
  border-color: #8e44ad;
}
.bordered.bg-wet-asphalt {
  border-color: #2c3e50;
}
.bordered.bg-sun-flower {
  border-color: #f39c12;
}
.bordered.bg-carrot {
  border-color: #d35400;
}
.bordered.bg-alizarin {
  border-color: #c0392b;
}
.bordered.bg-clouds {
  border-color: #bdc3c7;
}
.bordered.bg-concrete {
  border-color: #7f8c8d;
}
body {
  overflow-x: hidden;
  color: #7f8c8d;
  line-height: 1.29;
}
@media (max-width: 767px) {
  body {
    padding-right: 0;
    padding-left: 0;
  }
}
body > section,
header,
footer {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 767px) {
  body > section,
  header,
  footer {
    padding-right: 20px;
    padding-left: 20px;
  }
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #2c3e50;
}
h1 {
  font-weight: normal;
}
h3 {
  font-weight: normal;
}
img {
  -webkit-backface-visibility: hidden;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #7f8c8d;
}
a:hover,
button:hover,
a:focus,
button:focus,
a:active,
button:active {
  outline: none;
}
.navbar .subnav {
  display: none;
}
@media (max-width: 979px) {
  .navbar .nav-collapse {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 100%;
    width: 72%;
    padding: 25px 0;
    border-radius: 0;
    float: none;
    height: auto!important;
    overflow: auto!important;
    background: #222527;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    display: none;
  }
  .navbar .nav-collapse::-webkit-scrollbar {
    display: none;
  }
  .navbar .nav-collapse > * {
    margin: 30px 0 0!important;
  }
  .navbar .nav-collapse > *:first-child {
    margin-top: 0!important;
  }
  .navbar .nav-collapse .nav > li {
    margin: 0;
  }
  .navbar .nav-collapse .nav > li > a {
    display: block!important;
    margin: 0;
    padding: 12px 35px;
    border-bottom: 2px solid #24292d;
    font-size: 13px;
    font-weight: normal;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
    color: #5b5e61;
    text-transform: uppercase;
  }
  .navbar .nav-collapse .nav > li > a:hover,
  .navbar .nav-collapse .nav > li > a:focus,
  .navbar .nav-collapse .nav > li > a.active {
    color: #ffffff;
  }
  .navbar .nav-collapse .nav > li.active > a {
    color: #ffffff;
  }
  .navbar .nav-collapse .nav > li.active > a:hover,
  .navbar .nav-collapse .nav > li.active > a:focus,
  .navbar .nav-collapse .nav > li.active > a.active {
    color: #ffffff;
  }
  .navbar .nav-collapse .subnav {
    display: block;
    list-style: none;
  }
  .navbar .nav-collapse .subnav li > a {
    display: block;
    margin: 0;
    padding: 7px 35px;
    font-size: 13px;
    font-weight: normal;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #5b5e61;
    text-transform: capitalize;
  }
  .navbar .nav-collapse .subnav li > a:hover,
  .navbar .nav-collapse .subnav li > a:focus,
  .navbar .nav-collapse .subnav li > a.active {
    color: #ffffff;
  }
  .navbar .nav-collapse .navbar-form,
  .navbar .nav-collapse .navbar-search {
    padding: 10px 35px;
    border-bottom: 0 none;
    border-top: 0 none;
    box-shadow: none;
  }
  .navbar .nav-collapse .navbar-form:focus,
  .navbar .nav-collapse .navbar-search:focus {
    outline: 0 none;
  }
  body > *,
  .navbar .nav-collapse {
    -webkit-backface-visibility: hidden;
    -webkit-transition: left 0.4s;
    -moz-transition: left 0.4s;
    -o-transition: left 0.4s;
    transition: left 0.4s;
  }
  .nav-visible body > * {
    left: -72%;
  }
  .nav-visible .navbar .nav-collapse {
    left: 28%!important;
    visibility: visible;
  }
}
@media (max-width: 767px) {
  .navbar-fixed-top .navbar-inner {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.delimiter {
  margin-top: 200px;
}
.delimiter.line {
  margin-top: 150px;
  margin-bottom: 150px;
  border-top: 2px solid #ebedee;
}
header {
  padding-top: 100px;
  padding-bottom: 70px;
  z-index: 100;
}
header .brand {
  font-size: 25px;
  font-weight: normal;
  color: #34495e;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 800;
  letter-spacing: -1px;
  color: #2c3e50;
}
header .brand img:first-child {
  float: left;
  margin: -10px 15px 0 0;
}
section * {
  z-index: 2;
}
.background {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: 50% 50% no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.2;
  filter: alpha(opacity=20);
}
@media (max-width: 768px) {
  .background {
    -webkit-background-size: auto 200%;
    -moz-background-size: auto 200%;
    -o-background-size: auto 200%;
    background-size: auto 200%;
  }
}
.container {
  position: relative;
  z-index: 2;
}
@media (max-width: 767px) {
  header {
    padding-left: 20px;
    padding-right: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
.nav-visible .navbar .nav-collapse .nav > li > a:hover,
.nav-visible .navbar .nav-collapse .nav > li > li a:focus {
  background-color: transparent;
}
.nav-visible .nav-collapse .navbar-form,
.nav-visible .nav-collapse .navbar-search {
  border-bottom: 0 none;
  border-top: 0 none;
  box-shadow: none;
  margin: 10px 0;
  padding: 10px 15px;
}
.nav-visible .nav-collapse .navbar-form a.btn,
.nav-visible .nav-collapse .navbar-search a.btn {
  border-color: white;
  color: white;
}
.nav-visible .nav-collapse .navbar-form a.btn:hover,
.nav-visible .nav-collapse .navbar-search a.btn:hover,
.nav-visible .nav-collapse .navbar-form a.btn:focus,
.nav-visible .nav-collapse .navbar-search a.btn:focus {
  color: #7f8c8d;
  background-color: white;
}
/**
 * Header 10 stylesheet  
 * */
.header-10 {
  z-index: 100;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  height: 80px;
  background: #233240;
  color: white;
}
.header-10 .navbar {
  position: absolute;
  z-index: 2;
  top: 0;
  margin: 0;
}
.header-10 .navbar.navbar-fixed-top {
  position: fixed;
  margin: 0 auto;
  top: 0 !important;
}
.header-10 .navbar .navbar-form,
.header-10 .navbar .navbar-search {
  margin: 0;
  padding: 20px 0 19px 60px;
}
.header-10 .navbar .btn,
.header-10 .navbar .btn-group {
  margin-top: -1px;
}
.header-10 .navbar .btn {
  padding-left: 26px;
  padding-right: 26px;
}
.header-10 .navbar .btn.btn-primary {
  font-size: 15px;
  font-weight: normal;
  color: #ffffff;
  font-weight: 500;
}
.header-10 .navbar .navbar-inner {
  background: none;
}
.header-10 .navbar .brand {
  padding-left: 0;
  padding-top: 25px;
  font-size: 25px;
  font-weight: normal;
  color: #ffffff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
}
.header-10 .navbar .brand img:first-child {
  float: left;
  margin: -10px 15px 0 0;
}
.header-10 .navbar .nav > li {
  margin-left: 30px;
}
.header-10 .navbar .nav > li:first-child {
  margin-left: 0;
}
.header-10 .navbar .nav > li > a {
  padding: 29px 0 27px;
  font-size: 17px;
  font-weight: normal;
  color: #7f8c8d;
  font-weight: 600;
  color: #ffffff;
}
.header-10 .navbar .nav > li > a:hover,
.header-10 .navbar .nav > li > a:focus,
.header-10 .navbar .nav > li > a.active {
  color: #bdc3c7;
}
.header-10 .navbar .nav > li.active > a {
  color: #bdc3c7;
}
.header-10 .navbar .nav > li.active > a:hover,
.header-10 .navbar .nav > li.active > a:focus,
.header-10 .navbar .nav > li.active > a.active {
  color: #bdc3c7;
}
.header-10 .navbar .btn-navbar {
  margin: 27px 0 17px;
  padding: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: 0;
  background: none!important;
  color: white;
}
.header-10 .navbar .btn-navbar:hover,
.header-10 .navbar .btn-navbar:focus {
  color: #bdc3c7;
}
.header-10 .navbar .btn-navbar:active,
.header-10 .navbar .btn-navbar.active {
  color: #869198;
}
@media (max-width: 979px) {
  .header-10 .navbar .nav-collapse {
    padding-top: 17px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 100%;
    width: 72%;
    height: auto!important;
    padding: 25px 0;
    border-radius: 0;
    float: none;
    overflow: auto!important;
    background: #222527;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  .header-10 .navbar .nav-collapse::-webkit-scrollbar {
    display: none;
  }
  .header-10 .navbar .nav-collapse > * {
    margin: 30px 0 0!important;
  }
  .header-10 .navbar .nav-collapse > *:first-child {
    margin-top: 0!important;
  }
  .header-10 .navbar .nav-collapse .nav > li {
    margin: 0;
  }
  .header-10 .navbar .nav-collapse .nav > li > a {
    display: block!important;
    margin: 0;
    padding: 12px 35px;
    border-bottom: 2px solid #24292d;
    font-size: 13px;
    font-weight: normal;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
    color: #5b5e61;
    text-transform: uppercase;
  }
  .header-10 .navbar .nav-collapse .nav > li > a:hover,
  .header-10 .navbar .nav-collapse .nav > li > a:focus,
  .header-10 .navbar .nav-collapse .nav > li > a.active {
    color: #ffffff;
  }
  .header-10 .navbar .nav-collapse .nav > li.active > a {
    color: #ffffff;
  }
  .header-10 .navbar .nav-collapse .nav > li.active > a:hover,
  .header-10 .navbar .nav-collapse .nav > li.active > a:focus,
  .header-10 .navbar .nav-collapse .nav > li.active > a.active {
    color: #ffffff;
  }
  .header-10 .navbar .nav-collapse .subnav {
    display: block;
    list-style: none;
  }
  .header-10 .navbar .nav-collapse .subnav li > a {
    display: block;
    margin: 0;
    padding: 7px 35px;
    font-size: 13px;
    font-weight: normal;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #5b5e61;
    text-transform: capitalize;
  }
  .header-10 .navbar .nav-collapse .subnav li > a:hover,
  .header-10 .navbar .nav-collapse .subnav li > a:focus,
  .header-10 .navbar .nav-collapse .subnav li > a.active {
    color: #ffffff;
  }
  .header-10 .navbar .nav-collapse .navbar-form,
  .header-10 .navbar .nav-collapse .navbar-search {
    padding: 10px 35px;
  }
}
.header-10-sub {
  position: relative;
  z-index: 50;
  height: 800px;
  color: white;
  text-align: center;
}
.header-10-sub.v-center,
.header-10-sub .v-center {
  display: table;
  width: 100%;
}
.header-10-sub.v-center > div,
.header-10-sub .v-center > div {
  display: table-cell;
  vertical-align: middle;
  margin-top: 0;
  margin-bottom: 0;
  float: none;
}
@media (min-width: 768px) {
  .header-10-sub.v-center.row:before,
  .header-10-sub .v-center.row:before,
  .header-10-sub.v-center.row:after,
  .header-10-sub .v-center.row:after {
    display: none;
  }
}
@media (max-width: 767px) {
  .header-10-sub.v-center,
  .header-10-sub .v-center {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
  }
  .header-10-sub.v-center.row,
  .header-10-sub .v-center.row {
    display: block;
    width: auto;
  }
  .header-10-sub.v-center.row:before,
  .header-10-sub .v-center.row:before,
  .header-10-sub.v-center.row:after,
  .header-10-sub .v-center.row:after {
    display: none;
  }
  .header-10-sub.v-center.row > *,
  .header-10-sub .v-center.row > * {
    display: block;
    vertical-align: baseline;
  }
}
.header-10-sub .hero-unit {
  padding: 0;
  margin: 0;
  background-color: transparent;
}
.header-10-sub .hero-unit h1 {
  margin: 0 0 30px;
  font-size: 45px;
  font-weight: normal;
  color: #ffffff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}
.header-10-sub .hero-unit p {
  font-size: 25px;
  font-weight: normal;
  color: #bdc3c7;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 37.5px;
}
@media (max-width: 480px) {
  .header-10-sub .hero-unit h1 {
    font-size: 36px;
    font-weight: normal;
    color: #ffffff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
  }
  .header-10-sub .hero-unit p {
    font-size: 22px;
    font-weight: normal;
    color: #bdc3c7;
    line-height: 35px;
    font-weight: 300;
  }
}
.header-10-sub .hero-unit.hero-unit-bordered h1 {
  font-size: 46px;
  font-weight: normal;
  color: #ffffff;
  font-weight: 500;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: 8px solid white;
  display: inline-block;
  margin: 0;
  padding: 30px 40px;
}
@media (max-width: 480px) {
  .header-10-sub .hero-unit.hero-unit-bordered h1 {
    font-size: 22px;
    font-weight: normal;
    color: #ffffff;
    font-weight: 500;
  }
}
@media (max-width: 480px) {
  .header-10-sub.v-center > div {
    padding-top: 35px;
  }
}
.header-10-sub .control-btn {
  width: 53px;
  height: 53px;
  line-height: 53px;
  margin: 0;
  padding: 0;
  border-radius: 50%;
  text-align: center;
  font-size: 19px;
  font-weight: normal;
  color: #7f8c8d;
  color: #ffffff;
  background: #121518;
  opacity: 0.8;
  filter: alpha(opacity=80);
  position: absolute;
  left: 50%;
  bottom: 90px;
  margin-left: -26.5px;
}
.header-10-sub .control-btn:hover,
.header-10-sub .control-btn:focus,
.header-10-sub .control-btn.active {
  color: #ffffff;
}
.header-10-sub .control-btn:hover,
.header-10-sub .control-btn:focus,
.header-10-sub .control-btn:active,
.header-10-sub .control-btn.active {
  opacity: 1;
  filter: alpha(opacity=100);
}
@media (max-width: 480px) {
  .header-10-sub .control-btn {
    bottom: 30px;
  }
}
.content-23 {
  position: relative;
  height: 800px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}
.content-23.v-center,
.content-23 .v-center {
  display: table;
  width: 100%;
}
.content-23.v-center > div,
.content-23 .v-center > div {
  display: table-cell;
  vertical-align: middle;
  margin-top: 0;
  margin-bottom: 0;
  float: none;
}
@media (min-width: 768px) {
  .content-23.v-center.row:before,
  .content-23 .v-center.row:before,
  .content-23.v-center.row:after,
  .content-23 .v-center.row:after {
    display: none;
  }
}
@media (max-width: 767px) {
  .content-23.v-center,
  .content-23 .v-center {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
  }
  .content-23.v-center.row,
  .content-23 .v-center.row {
    display: block;
    width: auto;
  }
  .content-23.v-center.row:before,
  .content-23 .v-center.row:before,
  .content-23.v-center.row:after,
  .content-23 .v-center.row:after {
    display: none;
  }
  .content-23.v-center.row > *,
  .content-23 .v-center.row > * {
    display: block;
    vertical-align: baseline;
  }
}
.content-23 .control-btn {
  width: 53px;
  height: 53px;
  line-height: 53px;
  margin: 0;
  padding: 0;
  border-radius: 50%;
  text-align: center;
  font-size: 19px;
  font-weight: normal;
  color: #7f8c8d;
  background: #121518;
  color: #ffffff;
  opacity: 0.3;
  filter: alpha(opacity=30);
  position: absolute;
  left: 50%;
  bottom: 90px;
  margin-left: -26.5px;
}
.content-23 .control-btn:hover,
.content-23 .control-btn:focus,
.content-23 .control-btn.active {
  color: #ffffff;
}
.content-23 .control-btn:hover,
.content-23 .control-btn:focus,
.content-23 .control-btn:active,
.content-23 .control-btn.active {
  opacity: 1;
  filter: alpha(opacity=100);
}
@media (max-width: 480px) {
  .content-23 .control-btn {
    bottom: 30px;
  }
}
.content-23 .hero-unit {
  text-align: center;
  padding: 0;
  margin: 0;
  background-color: transparent;
}
.content-23 .hero-unit h1 {
  margin: 0 0 30px;
  font-size: 48px;
  font-weight: normal;
  color: #ffffff;
  font-weight: 600;
  line-height: 56px;
}
@media (max-width: 480px) {
  .content-23 .hero-unit h1 {
    font-size: 36px;
    font-weight: normal;
    color: #ffffff;
    font-weight: 600;
    line-height: 33px;
  }
}
.content-23 .hero-unit.hero-unit-bordered h1 {
  font-size: 46px;
  font-weight: normal;
  color: #ffffff;
  font-weight: 500;
  border: 8px solid white;
  display: inline-block;
  margin: 0;
  padding: 30px 40px;
}
@media (max-width: 767px) {
  .content-23 .hero-unit.hero-unit-bordered h1 {
    font-size: 28px;
    font-weight: normal;
    color: #ffffff;
    font-weight: 600;
  }
}
/**
 * Project 3 stylesheet  
 * */
.projects-3 h3 {
  margin: 0 0 80px;
  font-size: 30px;
  font-weight: 300;
  text-align: center;
}
.projects-3 .projects {
  display: table;
  width: 100%;
}
.projects-3 .projects + .projects {
  margin-top: 85px;
}
.projects-3 .projects .project-wrapper {
  display: table-cell;
}
.projects-3 .projects .project-wrapper:first-child + .project-wrapper {
  text-align: center;
}
.projects-3 .projects .project-wrapper:first-child + .project-wrapper + .project-wrapper {
  text-align: right;
}
.projects-3 .projects .project {
  width: 220px;
  display: inline-block;
  vertical-align: top;
}
.projects-3 .projects .photo-wrapper {
  width: 220px;
  height: 220px;
  position: relative;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  background-color: #ecf0f1;
  -webkit-backface-visibility: hidden;
  -webkit-transition: background-color 0.4s;
  -moz-transition: background-color 0.4s;
  -o-transition: background-color 0.4s;
  transition: background-color 0.4s;
}
.projects-3 .projects .photo {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  background: 50% 50% no-repeat;
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-backface-visibility: hidden;
  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
.projects-3 .projects .overlay {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  text-align: center;
  color: #fff;
  line-height: 220px;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-backface-visibility: hidden;
  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
.projects-3 .projects .overlay [class*="fui-"] {
  font-size: 46px;
}
.projects-3 .projects .info {
  text-align: center;
  font-size: 16px;
  color: #95a5a6;
  margin-top: 43px;
}
.projects-3 .projects .info b {
  color: #7f8c8d;
}
.projects-3 .projects .name {
  color: #34495e;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
  -webkit-backface-visibility: hidden;
  -webkit-transition: color 0.4s;
  -moz-transition: color 0.4s;
  -o-transition: color 0.4s;
  transition: color 0.4s;
}
.projects-3 .projects .project:hover .photo-wrapper {
  background-color: #1abc9c;
}
.projects-3 .projects .project:hover .photo {
  opacity: 0.4;
  filter: alpha(opacity=40);
}
.projects-3 .projects .project:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
}
.projects-3 .projects .project:hover .name {
  color: #1abc9c;
}
@media (max-width: 767px) {
  .projects-3 .projects {
    display: block;
    width: auto;
  }
  .projects-3 .projects .project-wrapper {
    display: block;
    text-align: center!important;
  }
  .projects-3 .projects .project-wrapper + .project-wrapper {
    margin-top: 85px;
  }
}
/**
 * Footer 5 stylesheet  
 * */
.footer-5 {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}
.footer-5 .brand {
  display: inline-block;
  margin-bottom: 25px;
}
.footer-5 .text {
  font-size: 14px;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.8);
  margin: 0 80px;
  line-height: 1.45;
}
.footer-5 .btn {
  margin-top: 30px;
  background-color: #ebedee;
  color: #7f8c8d;
  font-size: 13px;
  line-height: 20px;
  padding: 6px 13px 8px;
}
.footer-5 .btn:hover,
.footer-5 .btn:focus {
  background-color: #eff1f1;
}
.footer-5 .btn:active,
.footer-5 .btn.active {
  background-color: #c8c9ca;
}
.footer-5 .btn [class^="fui-"] {
  font-size: 16px;
  font-weight: normal;
  color: #3498db;
}
@media (max-width: 979px) {
  .footer-5 .text {
    margin: 0;
  }
}
body {
  font-family: proxima-nova, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #f9f7eb;
}
.control-btn,
.content-23 .control-btn {
  opacity: 0.6;
  text-decoration: none;
  transition: opacity 0.4s linear;
}
.control-btn:hover,
.content-23 .control-btn:hover {
  text-decoration: none;
}
h1 {
  font-family: proxima-nova, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #1b1f23;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.container {
  max-width: 940px;
}
header.header-10 {
  background: none;
  position: absolute;
  top: 110px;
}
header.header-10 > .container {
  max-width: 940px;
}
header.header-10 > .container .span12 {
  max-width: 940px;
}
header.header-10 .navbar .nav-collapse.expanded {
  display: block;
}
header.header-10 .navbar .nav-collapse.expanded li a:hover {
  background-color: transparent;
}
header.header-10 .navbar .btn-navbar {
  margin: 0;
  position: absolute;
  right: 20px;
}
header.header-10 .navbar .nav {
  text-transform: uppercase;
  font-weight: bold;
}
header.header-10 .navbar .nav > li {
  margin-left: 70px;
}
header.header-10 .navbar .nav > li a {
  padding: 0;
  font-size: 13px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
header.header-10 .navbar .nav > li.active a {
  color: #25221e;
}
header.header-10 .navbar .brand {
  margin-right: 113px;
  padding: 0;
}
header.header-10 .navbar .brand img:first-child {
  margin: 0;
}
.header-10-sub {
  background-color: #1b1f23;
}
.header-10-sub .background {
  background-image: url("../img/jarrett-sign.jpg");
  opacity: 0.85;
  filter: alpha(opacity=85);
}
.header-10-sub .hero-unit h1 {
  font-weight: bold;
  margin: 0 0 35px;
  font-size: 50px;
  font-family: proxima-nova, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.header-10-sub .hero-unit p {
  font-size: 22px;
  line-height: 34px;
  font-family: proxima-nova, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.simple-block {
  padding: 187px 0 144px;
  color: #7f8c8d;
}
.simple-block .text-block {
  max-width: 780px;
  margin: 0 auto;
}
.simple-block h1 {
  font-family: proxima-nova, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align: center;
  font-size: 40px;
  line-height: 51px;
  margin: 0 0 73px 0;
  letter-spacing: -0.05em;
}
.simple-block p {
  font-size: 20px;
  line-height: 35px;
  margin: 0 0 35px 0;
}
.simple-block .links {
  display: table;
  width: 100%;
  padding: 35px 0 0 0;
}
.simple-block .links li {
  display: table-cell;
  font-family: 'Radley', serif;
  font-size: 48px;
  line-height: normal;
  list-style: none;
  letter-spacing: -2px;
  text-align: center;
  padding-right: 35px;
  vertical-align: baseline;
}
.simple-block .links li:first-child {
  font-family: 'Gabriela', serif;
  font-size: 45px;
  text-align: left;
  padding: 0;
}
.simple-block .links li:last-child {
  font-family: 'Trocchi', serif;
  font-size: 40px;
  text-align: right;
  padding: 0;
}
.simple-block .links li a {
  color: #b9b7ad;
  text-decoration: none;
}
.simple-block.second {
  padding: 180px 0 174px;
}
.block-video {
  height: 664px;
  background-image: url("../images/block3.png");
  background-color: #1b1f23;
  background-size: cover;
}
.block-video .container {
  height: 664px;
}
.block-video .play-video-block {
  position: absolute;
  bottom: 90px;
}
.block-video .play-video-block .btn-play {
  float: left;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: 4px solid #fff;
  cursor: pointer;
  outline: none;
  background: transparent;
  margin: 0 23px 0 0;
}
.block-video .play-video-block .btn-play:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  background: #fff;
}
.block-video .play-video-block .btn-play:hover span {
  border-left-color: #000;
}
.block-video .play-video-block .btn-play span {
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  margin-left: 4px;
  margin-top: 3px;
}
.block-video .play-video-block .text {
  float: left;
}
.block-video .play-video-block .text span {
  display: block;
  color: #fff;
  font-size: 18px;
  line-height: 27px;
}
.block-video .play-video-block .text span:first-child {
  font-weight: 600;
  font-size: 25px;
}
.crumbs-mask {
  z-index: 1000;
  background-color: #000000;
  opacity: 0.9;
  filter: alpha(opacity=90);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
}
.crumbs-popup-video {
  z-index: 1000;
  margin: 0 10%;
  width: 80%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
}
.crumbs-popup-video > * {
  width: 100%;
  height: 100%;
}
.bread-section {
  background-image: url("../images/img-bread-section.jpg");
  background-color: #1b1f23;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
}
.bread-section h1 {
  font-family: 'Gabriela', serif;
  font-size: 45px;
}
.pastries-section {
  background-image: url("../images/img-pastries-section.jpg");
  background-color: #1b1f23;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
}
.pastries-section h1 {
  font-family: 'Radley', serif;
  font-size: 48px;
}
.cafe-section {
  background-image: url("../images/img-cafe-section.jpg");
  background-color: #1b1f23;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
}
.cafe-section h1 {
  font-family: 'Trocchi', serif;
  font-size: 40px;
}
.projects-3 {
  padding: 180px 0;
}
.projects-3 .projects + .projects {
  margin-top: 10px;
}
.projects-3 .projects {
  padding: 47px 0 0;
  max-width: 900px;
  margin: 0 auto;
}
.projects-3 .projects .project-wrapper {
  vertical-align: top;
}
.projects-3 .projects .overlay {
  display: none;
}
.projects-3 .projects .project {
  width: 300px;
}
.projects-3 .projects .project:hover .photo {
  opacity: 1;
}
.projects-3 .projects .project:hover .name {
  color: initial;
}
.projects-3 .projects .photo-wrapper {
  width: 176px;
  height: 176px;
  margin: 0 auto;
}
.projects-3 .projects .photo {
  background-size: cover;
}
.projects-3 .projects .name {
  color: #1b1f23;
  font-size: 25px;
  line-height: 34px;
  letter-spacing: -1px;
  margin-bottom: 22px;
  padding-top: 7px;
}
.projects-3 .projects .info {
  color: #7f8c8d;
  margin-top: 38px;
  margin-bottom: 27px;
  padding: 0 10px 0 5px;
}
.projects-3 .projects .info span {
  display: block;
  margin: 0 40px;
  line-height: 25px;
}
.projects-3 .projects .overlay {
  line-height: 175px;
}
.projects-3 h1 {
  text-align: center;
  font-size: 40px;
  line-height: 51px;
  margin: 0 0 74px 0;
  letter-spacing: -2px;
}
.projects-3 p {
  font-size: 20px;
  line-height: 35px;
  margin: 0 0 35px 0;
}
.projects-3 .download {
  font-size: 25px;
  line-height: 50px;
  color: #1b1f23;
  text-decoration: underline;
  display: block;
  max-width: 180px;
  margin: 50px auto 0;
  letter-spacing: -0.04em;
}
.projects-3 .download:hover {
  text-decoration: none;
}
.projects-3 .text-block {
  max-width: 780px;
  padding: 0 20px;
  margin: 0 auto;
}
.contacts {
  border-top: 2px solid #e3e1d6;
  padding-bottom: 180px;
}
.contacts h1 {
  font-size: 50px;
  letter-spacing: -0.07em;
  font-weight: bold;
  color: #25221e;
  text-align: left;
  margin-bottom: 63px;
}
.contacts .contact-block {
  font-size: 16px;
}
.contacts .contact-block .contact-item {
  display: block;
  width: 380px;
  float: left;
}
.contacts .contact-block .contact-item:first-child {
  padding-right: 20px;
}
.contacts .contact-block .contact-item h3 {
  color: #1b1f23;
  font-size: 23px;
  margin-bottom: 14px;
  letter-spacing: -0.05em;
}
.contacts .contact-block .contact-item span {
  display: block;
  margin-bottom: 5px;
}
.contacts .contact-block .contact-item span a {
  color: #25221e;
  text-decoration: underline;
}
.contacts .contact-block .contact-item span a:hover {
  text-decoration: none;
}
.footer-5.bg-custom {
  padding: 60px 0;
  background: #25221e;
}
.footer-5.bg-custom .brand {
  margin-top: 9px;
  margin-bottom: 23px;
}
.footer-5.bg-custom p {
  color: #7f8c8d;
  font-size: 14px;
  letter-spacing: -0.05em;
}
.footer-5.bg-custom p a {
  color: #bdc3c7;
  text-decoration: underline;
}
.footer-5.bg-custom p a:hover {
  text-decoration: none;
}
@media (max-width: 979px) {
  .content-23 {
    -webkit-backface-visibility: visible;
  }
  .nav-visible .navbar .nav-collapse {
    left: 50% !important;
  }
  .container {
    width: auto;
  }
  header.header-10 > .container .span12 {
    width: 95%;
  }
}
@media (max-width: 940px) {
  .projects-3 .projects .project {
    width: 220px;
  }
  .container {
    padding: 0 20px;
  }
  .container .text-block {
    padding: 0;
  }
  .page_overlay {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 300;
  }
  .navbar .nav-collapse {
    top: 0;
    bottom: 0;
    left: auto !important;
    right: -230px;
    width: 230px !important;
    padding: 25px 0;
    border-radius: 0;
    float: none;
    height: auto!important;
    overflow: auto!important;
    background: #222527;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    display: block;
  }
}
@media (max-width: 820px) {
  .contacts .contact-block .contact-item:last-child {
    margin-top: 50px;
  }
}
@media (max-width: 767px) {
  .projects-3 {
    padding: 80px 0;
  }
  .projects-3 .projects + .projects {
    margin-top: 38px;
  }
  .projects-3 .projects .info span {
    margin: 0;
  }
  .projects-3 h1 {
    margin-bottom: 66px;
  }
  .projects-3 p {
    margin-bottom: 32px;
  }
  body > section {
    padding-right: 0;
    padding-left: 0;
  }
  header,
  .header-10-sub.v-center,
  .header-10-sub .v-center {
    padding-right: 0;
    padding-left: 0;
  }
  .simple-block,
  .simple-block.second {
    padding: 80px 0;
  }
  .simple-block .links {
    display: block;
  }
  .simple-block .links li {
    display: block;
    padding: 0;
    text-align: center;
  }
  .simple-block .links li:first-child,
  .simple-block .links li:last-child {
    text-align: center;
  }
}
@media (max-width: 380px) {
  .contacts .contact-block .contact-item {
    width: auto;
  }
  .header-10-sub .hero-unit p {
    font-size: 20px;
  }
  header.header-10 {
    top: 40px;
  }
  .header-10-sub .hero-unit h1 {
    letter-spacing: -3px;
  }
  .block-video .play-video-block .btn-play {
    margin: 0 10px 0 0;
  }
  .block-video .play-video-block .text span {
    font-size: 17px;
  }
  .block-video .play-video-block .text span:first-child {
    font-size: 24px;
  }
  .content-23 {
    height: 400px;
  }
}
/* Retina-specific images here */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .bread-section {
    background-image: url("../images/img-bread-section-2x.jpg");
  }
  .pastries-section {
    background-image: url("../images/img-pastries-section-2x.jpg");
  }
  .cafe-section {
    background-image: url("../images/img-cafe-section-2x.jpg");
  }
}
